{% include "header.twig" %}
<div class="container-fluid">
    <h1>{{ site_name }} add user badge:</h1>
    <form method="post" action="{{ admin_endpoint }}forms/assignuserbadge.php">
        <div class="form-group">
            <label for="user_name">Username: </label>
            <input style="max-width: 480px;" type="text" class="form-control" maxlength="50" id="user_name" name="username">
        </div>
        <div class="form-group">
            <label for="badge_name">
                User badge:
            </label>
            <input type="text" id="badge_name" name="badgename">
        </div>
        <div class="form-group">
            <label for="file_name">
                Badge filename:
            </label>
            <input type="text" id="file_name" name="filename">
        </div>
        <div class="form-group">
            <label for="stream_id">
                Stream ID:
            </label>
            <input type="text" id="stream_id" name="streamid">
        </div>
        <div class="form-group">
            <a class="btn btn-info" href="{{ admin_endpoint }}">Back</a>
            <button class="btn btn-dark" name="add_badge" type="submit">Add user badge</button>
        </div>
    </form>
    <p>Copyright © {{ year }} {{ site_name }}.</p>
</div>
{% include "footer.twig" %}